<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Bookstore</h1>
        <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultrices enim vel sem sollicitudin, ac posuere quam sodales. Nullam felis turpis, accumsan ac tempus et, placerat at sapien.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Book</a>
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="btn-group"><a href="#" class="btn btn-primary">Go somewhere</a></div>
                        <small class="text-muted">Author Name</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="btn-group"><a href="#" class="btn btn-primary">Go somewhere</a></div>
                        <small class="text-muted">Author Name</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="btn-group"><a href="#" class="btn btn-primary">Go somewhere</a></div>
                        <small class="text-muted">Author Name</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


@section script{
    @* <script>
        alert('Document is ready');
    </script> *@
}





